<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Socket-Project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="/js/main.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body class="container col-xs-12 col-md-12">

	