<% include partials/headerlayout %>

<form id="login" method="POST" action="javascript:void(0)">
  <div class="form-group"> 
    <h2>Log-in</h2>
    <label for="username">Username:</label>
          <input type="text" id="username" placeholder="Enter username" autofocus class="form-control">
    </label>
    <label>Password:
      <input type="password" id="password" placeholder="Input your password" class="form-control">
    </label>
    <input type="submit" class="btn btn-primary" value="submit">
  </div>   
  
  <div>
    <a href="/signup">Don't have an account? Register here</a>
  </div>
  
</form>
<div class="section" style="display:none;">

<div id="logout"><a class="btn btn-warning btn-sm" href="/logout">Log-out</a></div>

  <!-- <div class="btn-toolbar">
    <div class="btn-group">
      <a href="#" class="btn btn-default">1</a>
      <a href="#" class="btn btn-default">2</a>
      <a href="#" class="btn btn-default">3</a>
      <a href="#" class="btn btn-default">4</a>
    </div>
  </div> -->

  <ul id="userList" class="text-info"><h5>Users online:</h5></ul>

</div> <!-- END section --> 

<div id="map-canvas" style="display:none;"></div>


<form class="form-group" id="message" action="javascript:void(0)" style="display:none;" :focus >
      <label for="message" class="message-label">Type a Message & Press Enter:</label>
      <input type="text" name="message[body]" id="text" class="form-control">
      <input type="hidden" name="message[user]">
      <input type="submit" value="SEND" style="display:none;">
</form>

<div id="messages" style="display:none;"></div>


<% include partials/footer %>