<% include partials/headerlayout %>

<div class="btn btn-default">
          <a href="/logout">logout: <%= currentuser %></a>
        </div>
        
<div id="map-canvas"></div>

<!-- <div id="date">Date: </div> -->

<ul id="messages"></ul>

<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

<% include partials/footer %>

