<% include ../partials/header %>

<form id="login" method="POST" action="javascript:void(0)">
  <div class="form-group"> 
    <h2>Log-in</h2>
    <label for="username">Username:</label>
          <input type="text" id="username" placeholder="Enter your username" autofocus class="form-control">
    </label>
    <label>Password:
      <input type="password" id="password" placeholder="Enter your password" class="form-control">
    </label>
    <input type="submit" class="btn btn-primary" value="submit">
  </div>   
  
  <div>
    <a href="/signup">Don't have an account? Register here</a>
  </div>
  
</form>

<% include ../partials/header %>